<component name="ArtifactManager">
  <artifact type="exploded-war" name="第一个spring项目:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="匡青老师的Spring/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="匡青老师的Spring" />
        </element>
      </element>
    </root>
  </artifact>
</component>